<!doctype html>
<html lang="de">
<head>
    <title>Klassisches Setup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.0.1/vue-router.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</head>
<body>
    <h2>Klassisches Setup für Vue</h2>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col" v-for="item in list">
                    {{ welcome }}, {{ item }}!
                    <welcome-tag></welcome-tag>
                    <welcome :name="item"></welcome>
                </div>
            </div>
        </div>
    </div>

    <template id="welcome">
        <div>{{ welcome }}, {{ name }}!</div>
    </template>

</body>
<script>

    // define Welcome separately to share with component and tag
    var WelcomeObj = {
        template: '#welcome',
        props: {
            'name': { default: 'Vue' }
        },
        data: function () {
            return {
                welcome: 'Herzlich Willkommen'
            }
        }
    };

    // define tag
    Vue.component('welcome-tag', WelcomeObj);

    // define component for include
    var Welcome = Vue.extend(WelcomeObj);

    var app = new Vue({
        components: { Welcome },
        data: function () {
            return {
                welcome: 'Willkommen',
                list: ['Anna', 'Balduin', 'Cassandra']
            }
        }
    }).$mount('#app');

</script>
</html>