<template>
  <div>
    <h1 class="red">Hello world!</h1>
  </div>
</template>

<script>
  export default {
    head: {
      title: 'Hello'
    }
  }
</script>

<style scoped>
  .red {
    color: red;
  }
</style>
